footer {
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
  background-color: black;
  color: white;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
}
footer .footer_txt {
  text-align: center;
}