.card-container {
    margin-bottom: 30px;

}
.card-img {
    width: 100%;

}

.card-text {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -1px;
    margin-bottom: 5px;
    margin-left: 22px;
    
}